.container {
  max-width: 960px;
}

a{
  text-decoration: none;
}


/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

footer p{
    margin-left: 1%;
}


.eventPicture{
  /* width: 500px;
  height: auto; */
}

.eventDetails{
    display: block;
    border:2px solid black;
    color: black;      
    width: 25%;
    margin: 1.5rem auto 48px auto;      
    text-align: center;      
    border-radius: 15px;    
    font-size: 18px;
    padding: 0.5rem 0;  
    font-weight: bold;
}

a.eventDetails:hover{
  /* text-decoration: underline;
  color: black; */
  background: #333;
  color: white;
  border: 2px solid #333;
}

form{
    width: 80%;
    margin: 0 auto;
}

input.form-control{
    width: 50%;
    margin: 0 auto;
}

textarea.form-control{
    width: 50%;
    margin: 0 auto;
    resize: none;
    height: 20vh;
}

form label{
  display:block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-bottom: 2%;
}

.btn{
  width: 25%;
  margin: 0 auto;
  color: white;
}

.alreadyUser{
   margin: 1%;
}


.error-template{
   margin: 0 auto;
   text-align: center;
}

#fouronefour{
   margin: 0 auto;
   width: 38%;
}

.alert{
   width: 50%;
   margin: 0 auto;
   text-align: center;
   margin-top: 1%;
}

.imageContainer{
   border:2px solid black;
   border-radius: 21px;
}

.event-details{
   padding: 2%;
   margin: 2%;
}

.infoType{
   text-decoration: underline;
}

.event-description{
   font-style: italic;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

#successBox, #loadingBox, #errorBox{
display: none;
}

nav{
margin-bottom: 2%;
}

.eventPlaceholder{
flex: 0 1 45%;
margin-bottom: 20px;
}

#eventsHolder{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.img{
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid #000;  /* border */
  background: #FFF;
  box-shadow: 0 0 0.9rem 0 rgba(0,0,0,0.3);
}


.img:before {
display: block;
content: '';
padding-top: 100%;
}

img {
display: block;
width: 100%;
height: auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

@media screen and (max-width:900px){
.eventPlaceholder{
  flex: 0 1 80%;
 
}
}

.profile-img{
  margin: 0 auto;
  width: 150px;
  height: auto;
  position: static;
  top: 0;
  left: 0;
  transform: none;
}

.profile-info{
  padding: 0;
}

.details-img{
  width: 40%;
  height: auto;
  margin: 0 auto;
  position: static;
  top: 0;
  left: 0;
  transform: none;
  border:1px solid black;
}

.no-found-picture, .home-event-picture{
  top:0;
  left:0;
  transform: none;
  width: 100%;
  position: static;
  margin: 0 auto;
}