{{>header}}

<section id="login">
    <div class="color">
        <div class="login-form">
            <h1>Login</h1>
            <form action="#/login" method="POST" id="form">
                <label for="email">Email</label>
                <input type="text" name="email">
                <label for="password">Password</label>
                <input type="password" name="password">
                <button>Submit</button>
                <a href="#/register" class="option">Don't have an account?</a>
            </form>
        </div>
    </div>
</section>