<div class="row form-layout p-5">
    <div class="col-md-12">
        <div class="recepieInfo">
            <div class="detailsFoodImage">
                <img src="https://t3.ftcdn.net/jpg/00/25/90/48/240_F_25904887_fhZJ692ukng3vQxzHldvuN981OiYVlJ1.jpg"
                    alt="">
            </div>

            <div class="infoPack">
                <h3 class="my-3">Meal Name</h3>
                <p class="prep-method">Method of preparation...</p>
                <p class="description">Description ...</p>
            </div>
            <div class="actions">
                <a class="btn btn-danger" href="#">Archive</a>
                <a class="btn btn-info" href="#">Edit</a>
                <a class="btn btn-success" href="#"> 900 likes</a>
            </div>
        </div>

        <div class="detailsIngredients">
            <h3 class="my-3 ingredient">Ingredients</h3>
            <ul>
                <li>First ingredient</li>
                <li>Second ingredient</li>
                <li>Third ingredient</li>
                <li>...</li>
            </ul>
        </div>
    </div>
</div>