<!DOCTYPE html>
<html>
<head>
    <title>TeisterMask</title>
    <link href="~/css/form-style.css" rel="stylesheet" />
    <link href="~/css/index-style.css" rel="stylesheet" />
</head>
<body>
	@RenderBody()
</body>
</html>