{{>header}}
<form action="#/login" method="post">

    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Sign-In</h1>
        <p>You are on one step of awesome events!</p>
    </div>

    <div class="form-label-group">
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required=""
            autofocus="">
        <label for="inputUsername">Username</label>
    </div>

    <div class="form-label-group">
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
            required="">
        <label for="inputPassword">Password</label>
    </div>

    <button class="btn btn-lg btn-dark btn-block" type="submit">Sign In</button>

    <div class="text-center mb-4">
        <p class="alreadyUser"> Don't have account? Then just
            <a href="#/register">Sign-Up</a>!
        </p>
    </div>

    <p class="mt-5 mb-3 text-muted text-center">© UniEnt - 2019.</p>

</form>
{{>footer}}