body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    height: 100vh;
    background: rgb(238, 238, 238);
}

header {
    display: flex;
    flex-basis: 100%;
    padding: 5px;
    border-bottom: 2px rgb(0, 0, 0) solid;
    height: 100px;
}

header h1 {
    text-transform: uppercase;
}

main {
    flex-wrap: nowrap;
}

footer {
    display: flex;
    align-self: flex-end;
    flex-basis: 100%;
    padding: 15px;
    color: rgb(255, 255, 255);
    background: rgb(102, 102, 102);
}