ul {
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: gray;
  }

img {
    width: 300px;
}

#notifications {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    margin: 1em;
}

.notification {
    font-size: 1.5em;
    color: #ffffff;
    display: none;
    text-align: right;
}

.notification>span {
    display: inline-block;
    padding:  0.5em 2em 0.5em 2em;
    border-radius: 10px;
}

#loadingBox>span {
    background: #7CB3E9;
}

#infoBox>span {
    background: #393;
}

#errorBox>span {
    background: #F50;
}