@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css';

body .button {
    font-family: Helvetica, sans-serif;
    background-color: #EEEEEE;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    outline: none;
}

body .hover:hover {
    color:  rgb(0, 102, 0);
    border-color:  rgb(0, 102, 0);
    background-color: rgb(251, 251, 251);
}

.button.normal {
    color: rgb(51, 51, 51);
    background-color: transparent;
}

.button.fill {
    color: rgb(251, 251, 251);
    background-color: rgb(51, 51, 51);
}

.button.fill.hover:hover {
    color: rgb(251, 251, 251);
    border-color: rgb(0, 102, 0);
    background-color: rgb(0, 102, 0);
}

i {
    margin-right: 5px;
}