@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

html {
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2 {
    font-family: Cormorant, serif;
    line-height: 1.2;
    font-weight: bold;
}