{{>header}}
<form class="text-center border border-light p-5" action="#/edit/{{objectId}}" method="post">
    <h1>Edit Movie</h1>
    <div class="form-group">
        <label for="title">Movie Title</label>
        <input type="text" class="form-control" placeholder="Movie Title" value="{{title}}" name="title">
    </div>
    <div class="form-group">
        <label for="description">Movie Description</label>
        <textarea class="form-control" placeholder="Movie Description..." name="description">{{description}}</textarea>
    </div>
    <div class="form-group">
        <label for="imageUrl">Image url</label>
        <input type="text" class="form-control" placeholder="Image Url" value="{{imageUrl}}" name="imageUrl">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{>footer}}