<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img"
                viewBox="0 0 24 24" focusable="false">
                <title>UniEnt Home</title>
                <circle cx="12" cy="12" r="10"></circle>
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94">
                </path>
            </svg>
        </a>
        {{#if loggedIn}}
            <a class="py-2 d-none d-md-inline-block" href="#/organize">Organize Event</a>
            <a class="py-2 d-none d-md-inline-block" href="#/profile">{{username}}</a>
            <a class="py-2 d-none d-md-inline-block" href="#/logout">Logout</a>
        {{else}}
            <a class="py-2 d-none d-md-inline-block" href="#/login">Login</a>
        {{/if}}
    </div>
</nav>