<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="fouronefour">
                <img class="no-found-picture" src="./images/404face.png" />
            </div>
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    UniEnt cannot find any event...
                </div>
                <div class="actions">
                    <a href="#/organize" class="btn btn-dark btn-lg">Create the first one? </a>
                </div>
            </div>
        </div>
    </div>
</div>