@model List<TweetViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SoftUni's Twitter</h1>
    <p>Create a new tweet <a href="/Tweets/Create">here</a>.</p>
</div>

@foreach(var tweet in Model)
{
    <div>
        <strong>@tweet.Username:</strong>
        @Html.Raw(tweet.Text)
        <em>(@tweet.CreatedOn)</em>
    </div>
}