@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

ul {
  display: inline-block;
}

ul li {
  display: inline-block;
  list-style: none;
  margin: 8px;
}

ul li a {
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 50%;
  color: #262626;
}

ul li a.facebook:hover {
  color: #3b5998;
}

ul li a.twitter:hover {
  color: #00aced;
}

ul li a.google-plus:hover {
  color: #dd4b39;
}

ul li a.linkedin:hover {
  color: #3b5998;
}

ul li a.instagram:hover {
  color: #517fa4;
}
