table, tr, th, td {
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
}

tbody tr:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

table tr:nth-child(odd) td {
    background: rgb(241, 241, 241);
}
