<section class="details">
    <div class="detail">
        <h1>Title: {{title}}</h1>
        <h2>Category: {{category}}</h2>
        <h3>Content: {{content}}</h3>
        <a href="#/">Back to Home</a>
    </div>
</section>