<section class="details">
    <div class="detail">
        <h1>Title: Javascript</h1>
        <h2>Category: Programming</h2>
        <h3>Content: Javascript is the best language!</h3>
        <a href="">Back to Home</a>
    </div>
</section>