<article class="post">
    <h1>Javascript</h1>
    <h2><span>Programming</span></h2>
    <p>Javascript is the best language!</p>
    <a href="" id="delete-button">Delete</a>
    <a href="" id="details-button">Details</a>
    <a href="" id="edit-button">Edit</a>
</article>