html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    margin: 0 auto;
}

section article {
    max-width: 300px;
}