<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">CookUni</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="#/home">Home</a>
            {{#if loggedIn}}
                <a class="nav-link" href="#/">Welcome, {{fullName}}!</a>
                <a class="nav-link" href="#/share">Share recipe</a>
                <a class="nav-link" href="#/logout">Logout</a>
            {{else}}
                <a class="nav-link" href="#/login">Login</a>
                <a class="nav-link" href="#/register">Register</a>
            {{/if}}
        </nav>
    </div>
</header>