html {
  font-family: "Raleway", arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background: linear-gradient(45deg, #3b3b7a, #91617e);
}

#contacts {
  margin: 0 auto;
  text-align: center;
}

button {
  color: rgba(0, 0, 0, 0.45);
  outline: none;
  border: none;
  box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.2), inset 0 -5px 4px -1px rgba(0, 0, 0, 0.1), 0 -10px 15px -1px rgba(255, 255, 255, 0.6), inset 0 3px 4px -1px rgba(255, 255, 255, 0.2), inset 0 0 5px 1px rgba(255, 255, 253, 0.8), inset 0 20px 30px 0 rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin: 0 2px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background: #F0F0F0;
}

.details {
  text-align: left;
  padding: 1.3em 0 0 1.3em;
}

.card {
  margin: 2rem;
  width: 21%;
  display: inline-block;
  text-align: center;
  background: linear-gradient(10deg, #ccc, #fff 50%);
  box-shadow: 0 1.25rem 2.625rem 0.375rem rgba(0, 0, 0, 0.18);
  border-radius: 0.5rem;
  padding: 29px 0px;
}

.gravatar {
  font-size: 6rem;
}

h1 {
  text-align: center;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  margin: 3rem;
}


div.details{
	display: none;
}