body {
  font-family: Georgia, serif;
  background-color: rgb(238, 238, 238);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
  font-size: 1em/1.2;
}

section.card {
  margin: 0 auto;
  max-width: 400px;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 0px 55px -14px rgba(0, 0, 0, 0.56);
}

section div.card-image-wrapper img {
  box-sizing: content-box;
  position: absolute;
  max-width: 400px;
  background-size: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

section div.card-content-wrapper {
  padding: 70% 5% 10% 5%;
}

section div.card-content-wrapper a {
  float: right;
  color: white;
  background-color: rgb(0, 153, 0);
  padding: 5px 15px;
  border-radius: 3px;
  text-decoration-line: none;
}
