@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<script>
    function UpdateLetters() {
        var text = (140 - document.getElementById("Text").value.length) + " characters left";
        document.getElementById("Info").innerHTML = text;
    }
</script>
<form method="post" action="/Tweets/SaveToDatabase">
    <textarea id="Text" maxlength="140" onkeydown="UpdateLetters()" name="Text" class="form-control" placeholder="Please enter your tweet here..."></textarea>
    <hr />
    <input type="reset" value="Reset" class="btn" />
    <input type="submit" value="Post" class="btn btn-primary" />
</form>
<div id="Info"></div>