body {
    background: rgb(238, 238, 238);
    display: flex;
}

body div.card {
    background: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px;
    margin: 30vh auto;
    flex-basis: 350px;
    box-shadow: 0px 0px 45px 6px rgba(0,0,0,0.43);
}