<main class="mt-3">
    <div class="products">
        @foreach(var product in Model.Products)
        {
        <div class="product-row d-flex justify-content-between mt-4">
            <div class="product border-musaca p-3 w-25">
                <div class="text-holder d-flex justify-content-between">
                    <h6>Name:</h6>
                    <h6>@product.Name</h6>
                </div>
                <div class="text-holder d-flex justify-content-between">
                    <h6>Price:</h6>
                    <h6>$@product.Price</h6>
                </div>
            </div>
        </div>
        }
    </div>
</main>